output/**
!output/.gitkeep

# Ignore all python cache files
__pycache__/
vinagpu.egg-info/
tests/

# exclude all .pyc files
*.pyc

# package egg info
*.egg-info

# exclude all folders with name 'output'
output/
**/output/
out/
test.ipynb